<div style="padding-right: 0px;">
  <!--UHG LOGO-->
  <nav class=" navbar navbar-default navbar-fixed-top " role="navigation " style="background: white; box-shadow: 1px 1px 5px #888; ">
    <div class="col-md-11 col-sm-11">
      <img src="https://www.uhc.com/content/dam/uhcdotcom/en/responsive/header-logo.png ">
    </div>
    <div class="col-md-1 col-sm-1 align-items-center justify-content-center">
      &nbsp;&nbsp;&nbsp;&nbsp;<a (click)="goHome()"><img style="height: 41px; width:40 text-align:center" src="./assets/images/EISL_Home.jpg"></a>
    </div>
  </nav>
  <div>
    &nbsp;
  </div>

  <div class="row align-items-center justify-content-center">
    <div class="col" align="center">
      <img style="height: 600px; width:600px; text-align:center" src="./assets/images/Under-Construction.gif">
    </div>
  </div>
</div>
