<div style="padding-right: 0px;">

  <!--UHG LOGO-->
  <nav class=" navbar navbar-default navbar-fixed-top " role="navigation " style="background: white; box-shadow: 1px 1px 5px #888; ">
    <div class="col-md-10 col-sm-10">
      <img src="https://www.uhc.com/content/dam/uhcdotcom/en/responsive/header-logo.png ">
    </div>

    <div class="col-md-2 col-sm-2 align-items-center justify-content-center">
      <a (click)="goSelectService()"><img style="height: 52px; width:50 text-align:center" src="./assets/images/EISL-Schedule.jpg"></a> &nbsp;&nbsp;
      <a (click)="goHome()"><img style="height: 41px; width:40 text-align:center" src="./assets/images/EISL_Home.jpg"></a>
    </div>
  </nav>

  <div id="formQuery" class="card card-body mb-3 info-bg">

    <div class="form-group row">

      <div class="col-sm-2">
        <label class="col-form-label"><strong>Search UHC Member :</strong></label>
      </div>

      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4 align-items-center justify-content-center">
            <input type="text" name="memberFirstName" placeholder="Member First Name" class="form-control" id="memberFirstName" [(ngModel)]="member.firstName" value="">
          </div>
          <div class="col-sm-4 float-right">
            <input type="text" name="memberLastName" placeholder="Member Last Name" class="form-control" id="memberLastName" [(ngModel)]="member.lastName" value="">
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <a (click)="findVisitDetails(member.firstName, member.lastName, member.memberId)"><img style="height: 42px; width:40 text-align:center" src="./assets/images/Search.png"></a>&nbsp;&nbsp;
        <a (click)="formReset()"><img style="height: 42px; width:40 text-align:center" src="./assets/images/Reset.jpg"></a>
      </div>

    </div>

    <div class="form-group row">

      <div class="col-sm-2">
        &nbsp;
      </div>

      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" name="memberUHGId" placeholder="Member UHG Id" class="form-control" id="memberUHGId" [(ngModel)]="member.memberId" value="">
          </div>
          <div class="col-sm-4">
            <input type="date" name="memberDob" placeholder="Member DOB" class="form-control" id="memberDob" [ngModel]="member.dob | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event">
          </div>
        </div>
      </div>
    </div>

    <!--<div class="form-group row">
      <div class="col-sm-2">
        &nbsp;
      </div>

      <div class="col-sm-10">
        <div class="row">

          <div class="col-sm-3">
            <label class="col-form-label"><strong>Claims</strong></label>&nbsp;
            <input type="checkbox" id="patientClaims" checked="checked" />
          </div>

          <div class="col-sm-3">
            <label class="col-form-label"><strong>Prior Auth</strong></label>&nbsp;
            <input type="checkbox" id="patientClaims" checked="checked" />
          </div>

          <div class="col-sm-3">
            <label class="col-form-label"><strong>Eligibility</strong></label>&nbsp;
            <input type="checkbox" id="patientClaims" checked="checked" />
          </div>

        </div>
      </div>

    </div>-->
  </div>

  <div id="filter" class="card card-body container-bg info-bg" style="height: 75px;" *ngIf="visits?.length > 0">
    <div class="row toolbar" style="vertical-align: top;">
      <div class="col-sm-4">
        <a class='btn' (click)="filterByDateRange()" style="margin-right: 20px; background: whitesmoke; padding: 5px 20px;"><span class="fake-link" id="fake-link-1"><strong>Filter by Date Range</strong></span></a>
      </div>
      <div class="col-sm-4">
        <a class='btn' (click)="filterBySource()" style="margin-right: 20px; background: whitesmoke; padding: 5px 20px;"><span class="fake-link" id="fake-link-2"><strong>Filter by Source</strong></span></a>
      </div>
      <div class="col-sm-4">
        <a class='btn' (click)="filterByAddProvider()" style="margin-right: 20px; background: whitesmoke; padding: 5px 20px;"><span class="fake-link" id="fake-link-3"><strong>Add Provider (by EMR or Provider List)</strong></span></a>
      </div>
    </div>
  </div>

<!--Filter by Date Range -->
  <div id="dvFilterByDateRange" class="row toolbar" style="padding:15px 0px;  background:floralwhite; margin: 0px; border-top: 1px solid lightgray;" *ngIf="showFilterByStartDate">
    <div class="col-sm-4">
      <div><label class="col-form-label"><strong>Start Date</strong></label>&nbsp;&nbsp;</div>
      <!-- <input type="date" name="memberDob" placeholder="Member DOB" class="form-control" id="memberDob" [ngModel]="member.dob | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event"> -->
      <div><input type="date" name="filterStartDate" class="form-control" id="filterStartDate" [ngModel]="filterStartDate | date:'yyyy-MM-dd'" (ngModelChange)="filterStartDate = $event"></div>
    </div>
    <div class="col-sm-4">
      <div><label class="col-form-label"><strong>End Date</strong></label>&nbsp;&nbsp;</div>
      <div><input type="date" name="filterEndDate" class="form-control" id="filterEndDate" [ngModel]="filterEndDate | date:'yyyy-MM-dd'" (ngModelChange)="filterEndDate = $event"></div>
    </div>
    <div class="col-sm-4">
      &nbsp;&nbsp;<button type="button" class="btn primary-button" (click)="filterVisitByDateRange(filterStartDate,filterEndDate)">Filter</button> &nbsp;&nbsp;
      <button type="button" class="btn primary-button" (click)="filterReset('dvFilterByDateRange')">Reset</button>
    </div>
  </div>

<!--Filter by Source -->
  <form [formGroup]="form" novalidate>
    <div id="dvFilterBySource" class="row toolbar" style="padding:15px 0px;  background:floralwhite; margin: 0px; border-top: 1px solid lightgray;" *ngIf="showFilterBySource">
      <div *ngFor="let patientClaim of form.controls.patientClaims.controls; let i = index">
        <div class="col-sm-12">
          <label class="col-form-label"><strong>{{patientClaims[i].name}}</strong></label>&nbsp;
          <input type="checkbox" [formControl]="patientClaim" [value]="patientClaim" [(checked)]="patientClaimsChkBox" (change)="filterVisitBySource(patientClaims[i].name, $event)">
        </div>
      </div>

      &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn primary-button" (click)="filterReset('dvFilterBySource')">Reset</button>
    </div>
  </form>




  <div id="tableResult" class="card card-body mb-3" *ngIf="visits?.length > 0">
    <div id="visitList" class="container-bg">
      <div class="form-group row">
        <div class="col-sm-12">
          <h5><strong>Visit History for: {{member.lastName}}, {{member.firstName}}</strong></h5>
        </div>
      </div>

      <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
          <tr style="background-color: #196ECF; color:white;">
            <th><strong>Provider Name</strong></th>
            <th><strong>HealthSystem</strong></th>
            <th><strong>Provider Id/TIN</strong></th>
            <th><strong>Last Provider Visit</strong></th>
            <th><strong>Last API call</strong></th>
            <th><strong>Source</strong></th>
          </tr>
        </thead>
        <tbody *ngFor="let visit of visits">
          <tr *ngIf="visit.isActive">
            <td>
              <h6><small>{{visit.providerName}}</small></h6></td>
            <td>
              <img style="height: 20px; width:20 text-align:center" src="{{visit.ehrImageSrc}}">
              <td>
                <h6><small>{{visit.providerId}}</small></h6></td>
              <td>
                <h6><small>{{visit.lastVisitDate}}</small></h6></td>
              <td>
                <h6><small>{{today}}</small></h6></td>
              <td>
                <h6><small>{{visit.source}}</small></h6></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="noMembers" class="container-bg" *ngIf="showError">
      <div class="form-group row">
        <div class="col-sm-8 alert alert-warning" role="alert">
          <h4><i>No members found for the selection criterion !!</i></h4>
        </div>
      </div>
    </div>

  </div>

</div>
