.myBox {
  padding: 5px;
  border: 1px solid lightgray;
  margin: 15px;
}

.primary-button {
  background: #196ecf none repeat scroll 0 0;
  border-radius: 0px;
  border: none;
  color: white;
}

.primary-button:hover {
  background: #122377 none repeat scroll 0 0;
  color: white;
}

.primary-button-link:hover {
  color: white;
  text-decoration: none !important;
}

.table-hover>tbody>tr:hover {
  background-color: lightblue;
}

.info-bg {
  background-color: #F6F6F4;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
