<div style="padding-right: 0px;">

  <!--UHG LOGO-->
  <nav class=" navbar navbar-default navbar-fixed-top " role="navigation " style="background: white; box-shadow: 1px 1px 5px #888; ">
    <div class="col-md-11 col-sm-11">
      <img src="https://www.uhc.com/content/dam/uhcdotcom/en/responsive/header-logo.png ">
    </div>
    <div class="col-md-1 col-sm-1 align-items-center justify-content-center">
      &nbsp;&nbsp;&nbsp;&nbsp;<a (click)="goHome()"><img style="height: 41px; width:40 text-align:center" src="./assets/images/EISL_Home.jpg"></a>
    </div>
  </nav>
  <div>
    &nbsp;
  </div>

  <div class="row" ng-show="displayMode == 'front'" style="padding:5px; background:#1a6dcf;
      color: white;">
    <div class="col-md-10 col-sm-10">
      <div style="padding: 20px;">
        <h3 style="margin-bottom: 5px;">Welcome to EISL Tier II On Demand Services Home !!</h3>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 5px;">

    <div class="col-md-3 col-xs-3" style="padding-left: 40px;">
      <div class="myBox">
        <div style="text-align: center;margin-bottom: 5px;">
          <img style="height: 100px; text-align:center" src="./assets/images/EISL-Schedule.jpg">
        </div>
        <a href="http://10.87.182.125:8080/schedule-based-app/" class="primary-button-link" target="_blank">
          <button class="btn btn-block primary-button" style="font-size:20px;">Scheduling Services</button>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-xs-3" style="padding-left: 40px;">
      <div class="myBox">
        <div style="text-align: center;margin-bottom: 5px;">
          <img style="height: 100px; text-align:center" src="./assets/images/QueryService.png">
        </div>
        <a href="http://10.87.182.125:8080/fhir-web-app/patientViewer.jsp" class="primary-button-link" target="_blank">
        <button class="btn btn-block primary-button" style="font-size:20px;">Member Query Services</button>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-xs-3" style="padding-left: 20px;">
      <div class="myBox">
        <div style="text-align: center;margin-bottom: 5px;">
          <img style="text-align:center" src="./assets/images/Hedis_Logo.png">
        </div>
        <button disabled class="btn btn-block btn-secondary" style="font-size:20px;">HEDIS Gaps In Care</button>
      </div>
    </div>
    <div class="col-md-3 col-xs-3" style="padding-left: 20px;">
      <div class="myBox">
        <div style="text-align: center;margin-bottom: 5px; padding-top:15px; padding-bottom:20px;">
          <img style="text-align:center" src="./assets/images/LabCorp.png">
        </div>
        <button disabled class="btn btn-block btn-secondary" style="font-size:20px;">LabCorp Services</button>
      </div>
    </div>

  </div>

  <div class="row" style="padding-top: 5px;">

    <div class="col-md-3 col-xs-3" style="padding-left: 20px;">
      <div class="myBox">
        <div style="text-align: center;margin-bottom: 5px;">
          <img style="height: 100px; width: 300px; text-align:center" src="./assets/images/athena_health_logo.jpg">
        </div>
        <button disabled class="btn btn-block btn-secondary" style="font-size:20px;">AthenaHealth EHR Services</button>
      </div>
    </div>
    <div class="col-md-3 col-xs-3" style="padding-left: 20px;">
      <div class="myBox">
        <div style="text-align: center; margin-bottom: 24px; padding-top:20px;">
          <img style="text-align:center" src="./assets/images/allscripts-logo-green-gray-2x.png">
        </div>
        <button disabled class="btn btn-block btn-secondary" style="font-size:20px;">Allscripts EHR Services</button>
      </div>
    </div>
    <div class="col-md-3 col-xs-3" style="padding-left: 20px;">
      <div class="myBox">
        <div style="text-align: center;margin-bottom: 5px; padding-top:15px; padding-bottom:15px;">
          <img style="text-align:center" src="./assets/images/Cerner_RGB_Standard_ horizontal.png">
        </div>
        <button disabled class="btn btn-block btn-secondary" style="font-size:20px;">Cerner EHR Services</button>
      </div>
    </div>
    <div class="col-md-3 col-xs-3" style="padding-left: 20px;">
      <div class="myBox">
        <div style="text-align: center;margin-bottom: 5px;">
          <img style="text-align:center" src="./assets/images/PatientEncounter.png">
        </div>
        <button disabled class="btn btn-block btn-secondary" style="font-size:20px;">Encounter Services</button>
      </div>
    </div>

  </div>

  <div class="row" style="padding-top: 5px;">

    <div class="col-md-3 col-xs-3" style="padding-left: 20px;">
      <div class="myBox">
        <div style="text-align: center;margin-bottom: 5px; padding-top:25px; padding-bottom:20px;">
          <img style="text-align:center" src="./assets/images/CentriHealth.jpg">
        </div>
        <button disabled class="btn btn-block btn-secondary" style="font-size:20px;">CentriHealth Services</button>
      </div>
    </div>
    <div class="col-md-3 col-xs-3" style="padding-left: 40px;">
      <div class="myBox">
        <div style="text-align: center;margin-bottom: 5px;">
          <img style="text-align:center" src="./assets/images/member_eligibility.gif">
        </div>
        <button disabled class="btn btn-block btn-secondary" style="font-size:20px;">Eligibility Services</button>
      </div>
    </div>
    <div class="col-md-3 col-xs-3" style="padding-left: 40px;">
      <div>
        &nbsp;
      </div>
    </div>
    <div class="col-md-3 col-xs-3" style="padding-left: 40px;">
      <div>
        &nbsp;
      </div>
    </div>

  </div>

</div>
